/* DARK THEME */
body{
    background-color: rgb(24, 24, 24);
    color:white;
    overflow-y: scroll;
}

.form-control, .form-select, .form-control:focus{
    background-color: rgb(24, 24, 24);
    color:white;
    border-color: rgb(85, 85, 85);
}
.form-select{
    background:rgb(24, 24, 24) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
}

.card{
    background-color: rgb(36, 36, 36);
    color:white;
    border-color: rgb(85, 85, 85);
    border-radius: 10px;
    margin-bottom: 10px;
}
:root {
    color-scheme: dark;
}

/* CARD */
.card {
    margin-top: 10px;
}
.card-footer{
    border-color: rgb(85, 85, 85);
}
.card-footer .btn{
    margin-left: 10px;
    float:right;
}
label{
    margin-top: 10px;    
}
.green{
    color: #0f0;
}
.yellow{
    color: #ff0;
}
.magenta{
    color: #f0f;
}
.cyan{
    color: #0ff;
}

.input-group{
    margin-bottom: 10px;
}

.btn-submit{
    float:right;
    margin-bottom:20px;
    margin-top:20px;
    border:1px solid rgb(85, 85, 85);
    border-radius: 5px;
    margin-left: 5px;
    color:white;
    background-color: rgb(36, 36, 36);
}
.btn-submit:hover{
    background-color: rgb(36, 36, 36);
    color:white;
    border:1px solid rgb(85, 85, 85);
}